{% extends 'layout.html.twig' %}

{% block title %}
   Interface Client
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/projet.css') }}">
{% endblock %}
        
{% block body %}
    <ul>
        <li> <a href="{{ path('listproduit') }}">Liste des produits </a> </li>
        <li> <a href="{{ path('disconnect')  }}">Création d'un panier </a> </li>
        <li> <a href="{{ path('disconnect')  }}">Modification d'un panier </a> </li>
        <li> <a href="{{ path('disconnect')  }}">Liste des panier </a> </li>
    </ul>
{% endblock %}